.pillar-game {
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
    -webkit-user-select: none;
     -o-user-select: none;
      user-select: none;

}

.main-menu-div {
  background-color: #ffff8b;
  position: relative;
}

.main-menu-image {
  position: relative;
  background-color: #ffff8b;
}

.pillar-link {
  cursor: pointer;
  position: absolute;
}

.new-game-link {
  height: 5%;
  width: 32%;
  bottom: 43.3%;
  left: 34%;
}

.options-link {
  height: 5%;
  width: 22%;
  bottom: 34.7%;
  left: 39%;
}

.help-link {
  height: 5%;
  width: 13%;
  bottom: 25.7%;
  left: 43.5%;
}

.about-div {
  background-color: #ffff8b;
  position: relative;
}

.about-link {
  height: 5%;
  width: 17.5%;
  bottom: 17%;
  left: 41.5%;
}

.polaris-link {
  height: 3%;
  width: 24%;
  bottom: 67%;
  left: 38%;
}

.about-image {
  background-color: #ffff8b;
}

.about-back-link {
  height: 5%;
  width: 11%;
  bottom: 2%;
  left: 2%;
}

.options-menu-image {
  background-color: #ffff8b;
}

.options-menu-volume-slider {
  height: 5%;
  width: 55%;
}

.options-menu-back-link {
  height: 5%;
  width: 11%;
  bottom: 2%;
  left: 2%;
}

.help-back-link {
  height: 5%;
  width: 11%;
  bottom: 2%;
  left: 2%;
}

.game-board {
  position: relative;
  overflow: hidden;
}

.gridspace.clear {
  opacity: 0;
}

.gridspace.apple {
  opacity: 1;
  background-color: red;
}

.luna .color1 {
  background-color: green;
}

.luna .color2 {
  background-color: teal;
}

.swallowtail .color1 {
  background-color: orange;
}

.swallowtail .color2 {
  background-color: yellow;
}

.monarch .color1 {
  background-color: yellow;
}

.monarch .color2 {
  background-color: black;
}

.monarch .color3 {
  background-color: white;
}

.monarch .color4 {
  background-color: black;
}

.monarch .color5 {
  background-color: white;
}

.score-holder {
  font-size: 18px;
  color: teal;
  position: absolute;
}

.select-motif {
  position: absolute;
  opacity: 0;
    -webkit-transition: opacity .2s ease-out;
   -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
     -o-transition: opacity .2s ease-out;
        transition: opacity .2s ease-out;
}

.select-motif.active {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity .2s ease-in;
   -moz-transition: opacity .2s ease-in;
    -ms-transition: opacity .2s ease-in;
     -o-transition: opacity .2s ease-in;
        transition: opacity .2s ease-in;

}

.select-motif img.left {
  float: left;
}

.select-motif img.right {
  float: right;

  -webkit-transform: scaleX(-1);
   -moz-transform: scaleX(-1);
    -ms-filter: "FlipH";
     -o-transform: scaleX(-1);
      transform: scaleX(-1);
       filter: FlipH;
}

.new-game-motif {
  height: 5%;
  width: 57%;
  bottom: 43.3%;
  left: 21.5%;
}

.options-motif {
  height: 5%;
  width: 47%;
  bottom: 34.7%;
  left: 26.5%;
}

.help-motif {
  height: 5%;
  width: 38%;
  bottom: 25.7%;
  left: 31%;
}

.about-motif {
  height: 5%;
  width: 41.5%;
  bottom: 17%;
  left: 29.5%;
}