.pillar-game {
  -webkit-user-select: -moz-none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-color: #ffff8b;
}

.pillar-loading-container {
  width: 550px;
  height: 550px;
  background-color: lightgrey;
  position: relative;
}

.pillar-loading-text {
  color: darkgrey;
  text-align: center;
  position:relative;
  top: 38%;
  font-size: 40pt;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}

.pillar-ellipsis {
  border-radius: 50%;
  width: 8%;
  height: 8%;
  position: absolute;
  bottom: 40%;
  -webkit-transition: -webkit-transform .375s ease-in-out;
     -moz-transition:    -moz-transform .375s ease-in-out;
      -ms-transition:     -ms-transform .375s ease-in-out;
       -o-transition:      -o-transform .375s ease-in-out;
          transition:         transform .375s ease-in-out;
}

.pillar-ellipsis.teal-ellipsis-one {
  background-color: teal;
  left: 28%;
}

.pillar-ellipsis.green-ellipsis-one {
  background-color: green;
  left: 40%;
}

.pillar-ellipsis.teal-ellipsis-two {
  background-color: teal;
  left: 52%;
}

.pillar-ellipsis.green-ellipsis-two {
  background-color: green;
  left: 64%;
}

.pillar-logo-img {
  position: absolute;
  -webkit-transform: scale(.5);
     -moz-transform: scale(.5);
      -ms-transform: scale(.5);
       -o-transform: scale(.5);
          transform: scale(.5);
  opacity: 1;
  -webkit-transition: -webkit-transform .375s ease-in-out;
     -moz-transition:    -moz-transform .375s ease-in-out;
      -ms-transition:     -ms-transform .375s ease-in-out;
       -o-transition:      -o-transform .375s ease-in-out;
          transition:         transform .375s ease-in-out;
}

.apple-img {
  position: absolute;
  right: 12%;
  top: 18.1%;
}

.apostrophe-img {
  right: 81%;
  top: 13.8%;
}

.p-img {
  right: 58%;
  top: 4.8%;
}

.i-img {
  right: 54.4%;
  top: 3.8%;
}

.l1-img {
  right: 41.5%;
  top: 5.4%;
}

.l2-img {
  right: 37.6%;
  top: 6.3%;
}

.a-img {
  top: 16.1%;
  right: 22.6%;
}

.r-img {
  right: 15.4%;
  top: 10.5%;
}

.main-menu-div {
  background-color: #ffff8b;
  position: relative;
}

.main-menu-image {
  position: relative;
  background-color: #ffff8b;
}

.pillar-link {
  cursor: pointer;
  position: absolute;
}

.new-game-link {
  height: 5%;
  width: 32%;
  bottom: 43.3%;
  left: 34%;
}

.options-link {
  height: 5%;
  width: 22%;
  bottom: 34.7%;
  left: 39%;
}

.help-link {
  height: 5%;
  width: 13%;
  bottom: 25.7%;
  left: 43.5%;
}

.about-div {
  background-color: #ffff8b;
  position: relative;
}

.about-link {
  height: 5%;
  width: 17.5%;
  bottom: 17%;
  left: 41.5%;
}

.polaris-link {
  height: 3%;
  width: 24%;
  bottom: 67%;
  left: 38%;
  border-radius: 3px;
}

.about-image {
  background-color: #ffff8b;
}

.about-back-link {
  height: 5%;
  width: 11%;
  bottom: 2%;
  left: 2%;
}

.options-menu-div {
  position: relative;
}

.options-menu-image {
  background-color: #ffff8b;
}

.pillar-slider {
  position: absolute;
  width: 40.5%;
  height: 2%;
  left: 42%;
}

.options-menu-volume-slider {
  bottom: 77%;
}

.options-menu-start-speed-slider {
  bottom: 30.5%;
}

.options-menu-speed-gain-slider {
  bottom: 21%;
}

.options-menu-grid-size-slider {
  bottom: 11.5%;
}

.options-menu-difficulties {
  bottom: 42.5%;
  left: 46%;
  position: absolute;
}

.difficulty-div {
  border-radius: 5px;
  bottom: 41.5%;
  height: 29%;
  position: absolute;
  width: 15.5%;
  cursor: pointer;
}

.selected-difficulty {
   -webkit-box-shadow: 4px 5px 4px 1px teal;
      -moz-box-shadow: 4px 5px 4px 1px teal;
           box-shadow: 4px 5px 4px 1px teal;
  border: solid grey;
  border-width: 1px;
}

.options-swallowtail-div {
  left: 45.15%;
}

.options-luna-div {
  left: 63.65%;
}

.options-monarch-div {
  left: 81.15%;
}

.options-menu-slider-display {
  color: darkblue;
  position: absolute;
  left: 86%;
  font-weight: bold;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}

.opts-volume-display {
  bottom: 76%;
}

.opts-start-speed-display {
  bottom: 29.5%;

}

.opts-speed-gain-display {
  bottom: 20%;

}

.opts-grid-size-display {
  bottom: 10.5%;
}

.options-menu-back-link {
  height: 5%;
  width: 11%;
  bottom: 2%;
  left: 2%;
}

.help-div {
  position: relative;
}

.help-back-link {
  height: 5%;
  width: 11%;
  bottom: 2%;
  left: 2%;
}

.game-board {
  position: relative;
  overflow: hidden;
}

.pillar-game-foreground {
  opacity: 1;
  position: absolute;
  left: 0%;
  top: 0%;
  height:100%;
  width:100%;
-webkit-transition: -webkit-opacity 1s ease-in-out;
   -moz-transition:    -moz-opacity 1s ease-in-out;
    -ms-transition:     -ms-opacity 1s ease-in-out;
     -o-transition:      -o-opacity 1s ease-in-out;
        transition:         opacity 1s ease-in-out;
}

.gridspace.clear {
  opacity: 0;
}

.gridspace.apple {
  opacity: 1;
  background-color: red;
}

.player-pillar {
  border-radius: 10%;
}

.luna .color1 {
  background-color: green;
}

.luna .color2 {
  background-color: teal;
}

.swallowtail .color1 {
  background-color: orange;
}

.swallowtail .color2 {
  background-color: yellow;
}

.monarch .color1 {
  background-color: yellow;
}

.monarch .color2 {
  background-color: black;
}

.monarch .color3 {
  background-color: white;
}

.monarch .color4 {
  background-color: black;
}

.monarch .color5 {
  background-color: white;
}

.score-holder {
  font-size: 14pt;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  position: absolute;
  top: 3%;
  left: 4%;
}

.select-motif {
  position: absolute;
  opacity: 0;
  -webkit-transition: -webkit-opacity .2s ease-out;
     -moz-transition:    -moz-opacity .2s ease-out;
      -ms-transition:     -ms-opacity .2s ease-out;
       -o-transition:      -o-opacity .2s ease-out;
          transition:         opacity .2s ease-out;
}

.select-motif.active {
  position: absolute;
  opacity: 1;
  -webkit-transition: -webkit-opacity .2s ease-in;
     -moz-transition:    -moz-opacity .2s ease-in;
      -ms-transition:     -ms-opacity .2s ease-in;
       -o-transition:      -o-opacity .2s ease-in;
          transition:         opacity .2s ease-in;

}

.select-motif img.left {
  float: left;
}

.select-motif img.right {
  float: right;

  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
      -ms-filter: "FlipH";
       -o-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
}

.new-game-motif {
  height: 5%;
  width: 57%;
  bottom: 43.3%;
  left: 21.5%;
}

.options-motif {
  width: 47%;
  bottom: 34.7%;
  left: 26.5%;
}

.help-motif {
  width: 38%;
  bottom: 25.7%;
  left: 31%;
}

.about-motif {
  width: 41.5%;
  bottom: 17%;
  left: 29.5%;
}